*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
  }
  
  header{
    background-color:#D3D3D3; 
  }
  
  ul li{
    display: inline-block;
  }
  
  ul li a{
    text-decoration: none;
    color: #404040;
    padding: 5px 20px;
  }
  
  .title{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%)
  }
  
  .title{
    color: #fff;
    font-size: 70px;
  }
  
  .button{
    position: absolute;
    top:85%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  
  } 

  .image{
    position: relative;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -150%);
    height: 100px;
    
  }

  .image {
    width:600px;
    height:300px;
  }
  
  .btn{
    border: 1px solid #fff;
    padding: 10px 30 px;
    color: #fff;
    text-decoration:none;
    
  }
  
  .btn:hover{
  background: #fff;
  color: #000;
  }
  
  .row{
    color: #D3D3D3;
    background: #fff;
  }

  


  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

  body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #D3D3D3;
  }
  
  .searchButton {
    position: relative;  
    right: -585px;
    width: 40px;
    height: 36px;
    border: 1px solid rgb(18, 19, 19);
    background: #D3D3D3;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
  }
  
  

