.DS_Store
node_modules
npm-debug.log
bower_components
dist
etc
*.swp
.cache
.idea
.babelrc
.bowerrc
.browserslistrc
.changelog.mg
.config.yml
.gulpfile.babel.js
.package.json
.package-lock.json
.readme.md
.yarn.lock