        <div class="grid-x grid-margin-x">
                <div class="small-12 cell">
                    <h1>XYZ BIKES</h1>
                </div>
        </div>
        
<header>
        <div class="grid-x grid-margin-x">
                
            <div class="small-12 cell">
                <nav>
                    <div class="toggle">
                        <i class="fa fa-bars menu" aria-hidden="true"></i>
                    </div>
                    <ul>
                        <li><a href="/index.html">Hjem</a></li>
                        <li><a href="/tilbehør.html">Tilbehør</a></li>
                        <li><a href="/Udsalg.html">Udsalg</a></li>
                        <li><a href="/Udlejning.html">Udlejning</a></li>
                        <li><a href="/Omos.html">Om os</a></li>
                    </ul>
                </nav>
            </div>
        
        </div>
</header>    

