<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell medium 12-cell small 12 cell">
          <h1>XYZ BIKES</h1>
        </div>
    </div>

    <body background="#D3D3D3">
        <header>
            <nav>
                <ul>
                    <li><a href="/Tilbehør.html">Tilbehør</a></li>
                    <li><a href="/Udsalg.html">Udsalg</a></li>
                    <li><a href="/Udlejning.html">Udlejning</a></li>
                    <li><a href="/Omos.html">Om os</a></li>
                </ul>
            </nav>
        </div>

        <div class="title">
        <h1>FIND DIN CYKELSTØRRELSE</h1>
        </div>

        <div class="button">
            <a href="#" class="btn">FIND DIN CYKEL</a>
            <a href="#" class="btn">LÆS MEREL</a>
        </div>
    </header>
</body>

<body background="#D3D3D3">
    <div class="image"><img src="{{root}}assets/img/bike1.jpeg"></div>
    
</body>




