
            <div class="grid-x grid-margin-x">
                    <div class="small-4 cell">
                            <nav>
                                    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Find Tilbehør" title="Type in a category">
                                    <ul id="myMenu">
                                    <li><a href="#">CYKELHJELME</a></li>
                                    <li><a href="#">RINGEKLOKKER</a></li>
                                    <li><a href="#">PUMPER</a></li>
                                    <li><a href="#">KURVE</a></li>
                                    <li><a href="#">LYGTER</a></li>
                                    <li><a href="#">REFLEKSER</a></li>
                                    <li><a href="#">LÅS</a></li>
                                    <li><a href="#">ANDET</a></li>
                                    </ul>
                                    </header>
                                    </nav>
         
                      </div>
 
                                    
                    

         

      
          