

            <div class="grid-y grid-margin-y">
                    <div class="small-4 cell">
                      
                            <nav>
                                    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Find Tilbehør" title="Type in a category">
                                    <ul id="myMenu">
                                    <li><a href="#">CYKELHJELME</a></li>
                                    <li><a href="#">RINGEKLOKKER</a></li>
                                    <li><a href="#">PUMPER</a></li>
                                    <li><a href="#">KURVE</a></li>
                                    <li><a href="#">LYGTER</a></li>
                                    <li><a href="#">REFLEKSER</a></li>
                                    <li><a href="#">LÅS</a></li>
                                    <li><a href="#">ANDET</a></li>
                                    </ul>
                                    </nav>
                                  
         
                      </div>



                      <div class="grid-x grid-margin-x">
                                <div class="small-4 cell">
                                        <div class="product-card">
                                                        <div class="product-card-thumbnail">
                                                          <a href="#"><img src="{{root}}assets/img/hjelm1.jpg"/180x180/></a>
                                                        </div>
                                                        <h2 class="product-card-title"><a href="#">Smith CYKELHJELM SORT</a></h2>
                                                        <span class="product-card-desc">Product Description</span>
                                                        <span class="product-card-price">199,-</span>
                                                        <div class="product-card-colors">
                                                          <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm2.jpg"/30x30/></button>
                                                          <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm3.jpg"/30x30/></button>
                                                        </div>
                                                      </div>
                                                    </div>
                                            
                                                    <div class="small-4 cell">
                                                    <div class="product-card">
                                                                <div class="product-card-thumbnail">
                                                                  <a href="#"><img src="{{root}}assets/img/hjelm2.jpg"/180x180/></a>
                                                                </div>
                                                                <h2 class="product-card-title"><a href="#">Smith CYKELHJELM HVID</a></h2>
                                                                <span class="product-card-desc">Product Description</span>
                                                                <span class="product-card-price">199,-</span>
                                                                <div class="product-card-colors">
                                                                  <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm1.jpg"/30x30/></button>
                                                                  <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm3.jpg"/30x30/></button>
                                                                </div>
                                                              </div>
                                                            </div>

                                                            <div class="small-4 cell">
                                                            <div class="product-card">
                                                                        <div class="product-card-thumbnail">
                                                                          <a href="#"><img src="{{root}}assets/img/hjelm3.jpg"/180x180/></a>
                                                                        </div>
                                                                        <h2 class="product-card-title"><a href="#">Smith CYKELHJELM GRÅ</a></h2>
                                                                        <span class="product-card-desc">Product Description</span>
                                                                        <span class="product-card-price">199,-</span>
                                                                        <div class="product-card-colors">
                                                                          <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm1.jpg"/30x30/></button>
                                                                          <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm2.jpg"/30x30/></button>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                            



                                                            
                                                            
                                                            
                                                                                  <div class="grid-x grid-margin-x">
                                                                                            <div class="small-4 cell">
                                                                                                    <div class="product-card">
                                                                                                                    <div class="product-card-thumbnail">
                                                                                                                      <a href="#"><img src="{{root}}assets/img/hjelm11.jpg"/180x180/></a>
                                                                                                                    </div>
                                                                                                                    <h2 class="product-card-title"><a href="#">Abus CYKELHJELM GRØN</a></h2>
                                                                                                                    <span class="product-card-desc">Product Description</span>
                                                                                                                    <span class="product-card-price">299,-</span>
                                                                                                                    <div class="product-card-colors">
                                                                                                                      <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm22.jpg"/30x30/></button>
                                                                                                                      <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm33.jpg"/30x30/></button>
                                                                                                                    </div>
                                                                                                                  </div>
                                                                                                                </div>
                                                                                                        
                                                                                                                <div class="small-4 cell">
                                                                                                                <div class="product-card">
                                                                                                                            <div class="product-card-thumbnail">
                                                                                                                              <a href="#"><img src="{{root}}assets/img/hjelm22.jpg"/180x180/></a>
                                                                                                                            </div>
                                                                                                                            <h2 class="product-card-title"><a href="#">Abus CYKELHJELM BLÅ</a></h2>
                                                                                                                            <span class="product-card-desc">Product Description</span>
                                                                                                                            <span class="product-card-price">299,-</span>
                                                                                                                            <div class="product-card-colors">
                                                                                                                              <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm11.jpg"/30x30/></button>
                                                                                                                              <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm33.jpg"/30x30/></button>
                                                                                                                            </div>
                                                                                                                          </div>
                                                                                                                        </div>
                                                            
                                                                                                                        <div class="small-4 cell">
                                                                                                                        <div class="product-card">
                                                                                                                                    <div class="product-card-thumbnail">
                                                                                                                                      <a href="#"><img src="{{root}}assets/img/hjelm33.jpg"/180x180/></a>
                                                                                                                                    </div>
                                                                                                                                    <h2 class="product-card-title"><a href="#">Abus CYKELHJELM GRÅ</a></h2>
                                                                                                                                    <span class="product-card-desc">Product Description</span>
                                                                                                                                    <span class="product-card-price">299,-</span>
                                                                                                                                    <div class="product-card-colors">
                                                                                                                                      <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm11.jpg"/30x30/></button>
                                                                                                                                      <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm22.jpg"/30x30/></button>
                                                                                                                                    </div>
                                                                                                                                  </div>
                                                                                                                                </div>
                                                    
              

                                   
                                        