

            <div class="grid-x grid-margin-x">
                    <div class="small-4 cell">
                            <nav>
                                    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Find Tilbehør" title="Type in a category">
                                    <ul id="myMenu">
                                    <li><a href="#">CYKELHJELME</a></li>
                                    <li><a href="#">RINGEKLOKKER</a></li>
                                    <li><a href="#">PUMPER</a></li>
                                    <li><a href="#">KURVE</a></li>
                                    <li><a href="#">LYGTER</a></li>
                                    <li><a href="#">REFLEKSER</a></li>
                                    <li><a href="#">LÅS</a></li>
                                    <li><a href="#">ANDET</a></li>
                                    </ul>
                                    </header>
                                    </nav>
         
                      </div>
                    <div class="small-8 cell">
                            <div class="search">
                                    <input type="text" class="searchTerm" placeholder="Find det ønskede produkt">
                                    </div>
                                    </div>

                                    <div class="product-card">
                                        <div class="product-card-thumbnail">
                                          <a href="#"><img src="{{root}}assets/img/hjelm1.jpg"/></a>
                                        </div>

                                        <div class="product-card">
                                                <div class="product-card-thumbnail">
                                                  <a href="#"><img src="{{root}}assets/img/hjelm2.jpg"/></a>
                                                </div>







                                        <h2 class="product-card-title"><a href="#">Product Name</a></h2>
                                        <span class="product-card-desc">Product Description</span>
                                        <span class="product-card-price">$9.99</span><span class="product-card-sale">$12.99</span>
                                        <div class="product-card-colors">
                                          <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm1.jpg"/></button>
                                          <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm2.jpg"/></button>
                                          <button href="#" class="product-card-color-option"><img src="{{root}}assets/img/hjelm3.jpg"/></button>
                                        </div>
                                      </div>
                                
                                     

      
                                      <div class="grid-x grid-margin-x">
                                        