<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="css/grid.css">
</head>
<br>
<br>
<br>
<body>
  <product>
    <div class="grid-x grid-margin-x">
        <div class="small-3 cell">
          
          <div class="product-card">
              <div class="product-card-thumbnail">
              <a href="#"><img src="{{root}}assets/img/cargoside.jpg"/></a>
              </div>
              <h2 class="product-card-title"><a href="#">Product Name</a></h2>
              <span class="product-card-desc">Product Description</span>
              <span class="product-card-price">$9.99</span><span class="product-card-sale">$12.99</span>
              <div class="product-card-colors">
              <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
              <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
              <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
              <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
              </div>
              </div>
              
        </div>
        <div class="small-3 cell">
            <div class="product-card">
                <div class="product-card-thumbnail">
                <a href="#"><img src="{{root}}assets/img/cargoside.jpg"/></a>
                </div>
                <h2 class="product-card-title"><a href="#">Product Name</a></h2>
                <span class="product-card-desc">Product Description</span>
                <span class="product-card-price">$9.99</span><span class="product-card-sale">$12.99</span>
                <div class="product-card-colors">
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                </div>
                </div>
                
       
        </div>
        <div class="small-3 cell">
            <div class="product-card">
                <div class="product-card-thumbnail">
                <a href="#"><img src="{{root}}assets/img/cargoside.jpg/"/></a>
                </div>
                <h2 class="product-card-title"><a href="#">Product Name</a></h2>
                <span class="product-card-desc">Product Description</span>
                <span class="product-card-price">$9.99</span><span class="product-card-sale">$12.99</span>
                <div class="product-card-colors">
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                </div>
                </div>
                
       
         
        </div>
        <div class="small-3 cell">
            <div class="product-card">
                <div class="product-card-thumbnail">
                <a href="#"><img src="{{root}}assets/img/cargoside.jpg/"/></a>
                </div>
                <h2 class="product-card-title"><a href="#">Product Name</a></h2>
                <span class="product-card-desc">Product Description</span>
                <span class="product-card-price">$9.99</span><span class="product-card-sale">$12.99</span>
                <div class="product-card-colors">
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
                </div>
                </div>
                
         
        </div>
      </div>
    </product>

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>
</body>
</html>